.calculator {
  width: 300px;
  /* Ширина калькулятора */
  margin: 50px auto;
  /* Центрирование по горизонтали */
  padding: 24px;
  background-color: #121212;
  /* Темный фон */
  border-radius: 16px;
  display: flex;
  /* Использование Flexbox для центрирования по вертикали */
  justify-content: center;
  /* Горизонтальное выравнивание содержимого */
  align-items: center;
  /* Вертикальное выравнивание содержимого */
  min-height: 10vh;
  /* Минимальная высота 100% высоты окна браузера */
  flex-direction: column;
  /* Размещение элементов вертикально */
}

/* опишем базовый стиль кнопки калькулятора */
.my-btn {
  font-weight: 300;
  margin-right: 5px;
  /* задаем отступ от кнопки справа */
  margin-top: 5px;
  /* задаем отступ от кнопки сверху*/
  width: 50px;
  /* задаем ширину кнопки */
  height: 50px;
  /* округляем кнопку */
  border: none;
  /* отключаем обводку */
  background: gray;
  /* задаем серый цвет кнопки */
  color: white;
  /* задаем белый цвет текста внутри кнопки */
  font-size: 1.5rem;
  /* увеличим размер шрифта */
  font-family: 'Roboto Mono', monospace;
  /* сменим шрифт */
  cursor: pointer;
  /* при наведении на кнопку курсор будет изменен
                                  со стрелки на 'указательный палец' */
  user-select: none;
  /* отключаем возможность выделить текст внутри кнопки */
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

}

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
  background: #A5A5A5;
  transform: translateY(-1px);
  /* при наведение курсора на кнопку, она будет окрашена в серый */
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
  filter: brightness(90%);
  /* увеличим интенсивность цвета для эффекта вспышки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary {
  background: #fc0;
  color: white;
  border: none;
  font-weight: 500;
  /* цвет кнопки ;желтый */
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary {
  background: #AF002A;
  color: white;
  /* цвет кнопки сервый */
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute {
  width: 110px;
  /* Стандартная ширина кнопки */
  height: 50px;
  /* Высота такая же, как у обычных кнопок */
  background: #fc0;
}

/* селектор для поля вывода результата */
.result {
  font-weight: 10;
  width: 219px;
  height: 70px;
  margin-bottom: 15px;
  /* отступ снизу */
  padding-right: 10px;
  /* выступ справа */
  background: #fff;
  /* цвет можно задавать и таким образом */
  text-align: right;
  /* примагнитим текст к правой стороне */
  color: var(--zen-text);
  /* цвет текста белый */
  font-size: 1.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  /* Выравнивание текста по центру по вертикали */
  justify-content: flex-end;
  /* Выравнивание текста по правому краю */
}

.signature {
  text-align: center;
  /* Центруем текст */
  font-size: 14px;
  /* Размер шрифта */
  color: #777;
  /* Серый цвет текста */
  margin-top: 20px;
  /* Отступ сверху для отделения от основного содержимого */
  font-family: 'Roboto Mono', monospace;
  /* Используем тот же шрифт, что и для кнопок */
  font-style: italic;
  /* Курсив для придания особого акцента */
  opacity: 0.8;
  /* Немного уменьшаем непрозрачность для легкого эффекта */
}

#theme-switcher {
  position: absolute;
  /* Позволяет разместить кнопку в любом месте */
  top: 10px;
  /* Расположение вверху */
  right: 10px;
  /* Расположение справа */
  font-size: 22px;
  /* Размер иконки */
  background: transparent;
  /* Прозрачный фон */
  border: none;
  /* Без рамки */
  cursor: pointer;
  /* Курсор меняет вид на "указатель" */
  z-index: 999;
  /* На переднем плане */
}

/* Переменные для светлой темы */
:root {
  --bg-primary: #f0f0f0;
  --bg-secondary: #f0f2f3;;
  --bg-accent: #007bff;
  --text-color: #222;
  --button-bg: #424242;
  --button-bg-hover: #555;
  --button-primary-bg: #2196f3;
  
  
 
  
}

/* Переменные для темной темы */
[data-theme='dark'] {
  --bg-primary: #2c2c2e;
}

body {
  font-family: Arial, Helvetica, Arial Unicode MS, sans-serif;
  background-color: var(--bg-primary);
}

#github-btn {
  position: absolute;
  top: 10px;
  left: 15px;
}

#github-btn button {
  background-color: #fc0;
  color: #000;
  height: 40px;
  line-height: 24px;
  margin: auto;
  padding: 8px;
  position: absolute;
  border: none;
  border-radius: 10px;
  font-family:Arial, Helvetica, Arial Unicode MS, sans-serif;
  font-size: 20px;
}


/* Стили для аккордеона */
details {
  margin: 6px;
  border: 3px solid #fc0;
  border-radius: 18px;
  cursor: pointer;
  position: relative;
}


summary {
  padding: 13px 140px 13px 16px;
  border-radius: 14px;
  color: #000;
  background: linear-gradient(#fff, #fff);
  list-style: none;
}

summary::after {
  content: "▼";
  position: absolute;
  right: 20px;
  color: #000;
}

details p {
  background: white;
  color: #000;
  margin: 6px;
  border-radius: 14px;
}

/* Стили для блока цели */
.lab-purpose {
  padding: 13px 140px 13px 16px;
  background: linear-gradient(145deg, #fc0, #fc0);
  margin: 6px;
  border: 3px solid #fc0;
  border-radius: 18px;
}

.lab-purpose p {
  font-size: 20px;
  line-height: 1.6;
  color: #000;
  margin: 0;
}

mark {
  background: linear-gradient(120deg, #ff3347, #fc0);
  color: #000;
  padding: 4px 10px;
  border-radius: 8px;
}

